/*/ GOBAL STYLES /*/

html{
  overflow-x: hidden;
}
body{
  font-size: 18px;
  overflow-x: hidden;
  background: hsl(214, 64%, 98%);
  position: relative;
}

/*-------------- Background Art-------------*/

body::before{
  content: '';
  position: absolute;
  width: 80vw;
  height: 80vw;
  border-radius: 15%;
  margin: -40% 55%;
  transform: rotate(45deg);
  z-index: -1;
  background: rgb(255,82,191);
  background: -webkit-linear-gradient(left, rgba(255,82,191,1) 0%, rgba(154,82,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,82,191,1) 0%, rgba(154,82,255,1) 100%);
  background: linear-gradient(to right, rgba(255,82,191,1) 0%, rgba(154,82,255,1) 100%);
}

body::after{
  content: '';
  position: absolute;
  background: white;
  top: 10%;
  width: 80vw;
  height: 120vw;
  border-radius: 20%;
  left: -20%;
  margin: -40% 40%;
  transform: rotate(245deg);
  z-index: -2;
}

/*------------------------------------------*/


*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: hsl(208, 11%, 55%);
}

a, li{
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}


h1, h2, h3, h4, h5, h6, th{
  font-family: 'Poppins', 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
}

button{
  border: none;
  border-radius: 2.5px;
  background-color: hsl(322, 100%, 66%);
  padding: 20px 60px;
  color: #fff;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  text-transform: capitalize;
}



input{
  border: none;
  border-radius: 2.5px;
  background-color: #fff;
  padding: 20px;
  width: fill-available;
  width: -moz-available;     /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  font-family: 'Poppins', 'Open Sans', sans-serif;
  float: right;
}

.main_img{
  min-width: 300px;
  width: 100%;
}

#full_pg_wrap{
  padding: 50px;
}

/*/ Custom STYLES /*/

/* ---------------- Top Section ---------------------*/
#top_section{
height: fit-content;
}

.logo img{width: 200px;}


/* Top Header */
.logo{
  float: left;
}
.join_btn_nav{
  float: right;
  background-color: #fff;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.15);
  color: hsl(265, 100%, 66%);
  margin-top: -10px;
}

/* Banner (/ Middle/Main Header) */
.banner{
  margin: auto;
  text-align: center;
  width: 60%;
  padding-top: 100px;
}

/* --------------- Middle Section -------------------*/
#middle_section{
  margin-top: 500px;
}

.middle_wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: left;
  margin: auto;
  width: 90%;
}

.middle_wrap .main_img{
  margin: auto;
}

/* --------------- Bottom SectionW -------------------*/
#bottom_section{
  margin-top: 200px;
}

.join_box{
  max-width: 400px;
  width: 40%;
  background: #fff;
  margin: auto;
  text-align: center;
  padding: 50px 80px;
  box-shadow:0 0 40px rgba(0, 0, 0, 0.15);
}
.join_box h2{
  text-transform: capitalize;
}



#footer{
  background: hsl(192, 100%, 9%);
  font-size: 0.8em;
  margin-top: 200px;
  width: 100%;
}

#footer h2, h3, h4{
  color: #fff;
  text-transform: uppercase;
}
#footer button{
  float: right;
  margin-top: 20px;
}

#footer li{
  padding-bottom: 40px;
  text-transform: uppercase;
}

#footer a{
  padding: 8px;
}

.small_img{
  width: 3.2vw;
}

.footer_wrap{
  display: inline-grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-gap: 20px;
}

.footer_logo img{
  width: 200px;
}

.footer_logo{
  padding-bottom: 25px;
}



/*-----------------------------------------*/
/*-------------Mobible Version-------------*/
/*-----------------------------------------*/
@media only screen and (max-width: 650px) {
  body{
    font-size: 0.9em;
  }
  body:after{
    margin: -20% 40%;
  }

  button{
    font-size: 0.9em;
    padding: 10px 30px;
  }

  .join_btn_nav{
    margin-top: -5px;
  }

  #full_pg_wrap{
    padding: 30px 20px 20px 20px;
  }

  .logo img{
    width: 150px;
  }

  /*---Top Section---*/

  .banner{
    width: 90%;
  }

  /*---Middle Section---*/

#middle_section{
  margin-top: 150px;
}

  .middle_wrap{
    display: block;
    text-align: center;
  }

  .middle_wrap img{
    padding-bottom: 40px;
  }

  th{
    font-size: 1.3em;
    padding: 40px 0 20px 0 ;
  }

  /*---Bottom Section---*/
  #bottom_section{
    margin-top: 125px;
  }

  .join_box{
    padding: 50px 20px;
    width: 80%;
  }


  #footer{
    margin-top: 100px;
  }

  #footer #full_pg_wrap{
    padding: 50px 20px 20px 20px;
  }

  #footer li{
    padding-bottom: 20px;
  }

  .footer_wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .footer_logo{
    padding-bottom: 40px;
    text-align: center;
  }
  .footer_logo img{
    width: 150px;
  }

  .col1{ grid-row: 4; text-align: center;}
  .col2{ grid-row: 1;}
  .col3{ grid-row: 2;}
  .col4{ grid-row: 3; text-align: center; padding-bottom: 40px;}

}
